/* .wrapper{
    max-width: 1300px;
    margin: 0 auto;
} */

.subtitle {
    margin-bottom: 10px;
}

.title {
    text-align: center;
}

.servis {
    display: flex;
    /* align-items: flex-start; */
    margin-bottom: 20px;
}

.block {
    margin-right: 20px;
    box-shadow: 5px 0px 5px rgb(5, 29, 51);
    padding: 15px;
    border: 0.5px rgb(105, 105, 105) solid;
    border-radius: 15px;
}

.block__zone {
    width: 80%;
    /* height: 100%; */
}


.block__dragzone {
    height: 100%;
    border: 0.5px rgb(105, 105, 105) solid;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.dragItem {
    cursor: pointer;
    resize: both;
    overflow: hidden;
}

.dragItem__active {
    /* opacity: 0.5; */
}

.block__tables {
    height: 500px;
}

.block__walls {}

.wall {
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: rgb(38, 38, 33);
    position: relative;
}

.wall__horizontal {
    height: 10px;
    width: 100px;
}

.wall__vertical {
    height: 100px;
    width: 10px;
}

.table {
    width: 100px;
    background-color: rgb(87, 87, 73);
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    cursor: move;
}

.tables__two {
    height: 50px;
}

.tables__four {
    height: 79px;
}

.tables__six {
    height: 110px;
}

.choose {
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    justify-content: space-between;
}

.choose__subtitle {
    margin: 0;
}

.size {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px black solid;
}

.size:hover {
    background-color: #c9c9c9;
}

.size__active {
    background-color: #c9c9c9;
}

.resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #a0a395;
    z-index: 2;
}

.resizer.nw {
    top: -1px;
    left: -1px;
    cursor: nw-resize;
}

.resizer.ne {
    top: -1px;
    right: -1px;
    cursor: nw-resize;
}

.resizer.ns {
    bottom: -1px;
    left: -1px;
    cursor: nw-resize;
}

.resizer.nn {
    bottom: -1px;
    right: -1px;
    cursor: nw-resize;
}