.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}

.subtitle{
    margin-bottom: 10px;
}

.title{
    text-align: center;
}

.servis{
    display: flex;
    /* align-items: flex-start; */
}

.block{
    margin-right: 20px;
    box-shadow: 5px 0px 5px rgb(5, 29, 51);
    padding: 15px;
    border: 0.5px rgb(105, 105, 105) solid;
    border-radius: 15px;
}

.block__zone{
    width: 80%;
    /* height: 100%; */
}


.block__dragzone{
    height: 100%;
    border: 0.5px rgb(105, 105, 105) solid;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.dragItem {
    cursor: pointer;
}

.dragItem__active{
    /* opacity: 0.5; */
}

.block__tables{
    height: 500px;
}

.block__walls{

}

.wall{
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: rgb(38, 38, 33)
}

.wall__horizontal{
    height: 10px;
    width: 100px;
}

.wall__vertical{
    height: 100px;
    width: 10px;   
}

.table{
    width: 100px;
    background-color: rgb(87, 87, 73);
    margin-bottom: 20px;
    border-radius: 5px;
}

.tables__two{
    height: 50px;
}

.tables__four{
    height: 79px;
}

.tables__six{
    height: 110px;
}
